@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.bg-container {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/newsbg.png");
    height: 100vh;
    background-size: cover;
}

.news-carditem {
    height: 300px;
    background-color: #ffffff;
    padding: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.news-category {
    color: #7b8794;
    font-family: "Roboto";
    font-size: 15px;
}

.news-title {
    color: #323f4b;
    font-size: 20px;
    font-family: "Roboto";
}

.news-description {
    color: #7b8794;
    font-size: 14px;
    font-family: "Roboto";
}

.button {
    height: 40px;
    width: 138px;
    background-color: #323f4b;
    color: #ffffff;
    font-size: 14px;
    font-family: "Roboto";
    border-width: 0px;
    border-style: solid;
    border-radius: 7px;
}